{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Email Confirmed Successfully!</h1>
        <p>Your email has been verified. You will be redirected to your profile shortly.</p>
        <img src="{{ asset('images/success.png') }}" alt="Success" style="max-width: 150px; margin: 20px auto;" />

        <p>If you are not redirected, <a href="{{ path('app_profile') }}">click here</a>.</p>
    </div>

    <!-- Automatic Redirection Script -->
    <script>
        setTimeout(() => {
            window.location.href = "{{ path('app_profile') }}";
        }, 5000); // 5 seconds
    </script>
{% endblock %}
