{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Create New Community</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <button type="submit" class="btn btn-primary">Create Community</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}